* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 100px;
}

.header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.header i {
    font-size: 24px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.header i:hover {
    color: #aaa
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:20px;
    outline: none;
    width:200px;
    transition: 0.3s;
}

.search-form input:focus {
    border-color: #888;
}

.search-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: white;
    color: #222;
    cursor: pointer;
    transition: 0.3;
}

.search-form button:hover {
    background-color: #ddd;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    color: #555;
} 

.main {
    padding: 20px;
}

.banner {
    position: relative;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 40%;
    left: 20px;
    background: rgba(0,0,0,0.5);
    color:white;
    padding: 10px;
}  

.cadastro {
    background: #f5f5f5;
    padding: 20px;
    margin: 30px 0;
    text-align: center;
    border-radius: 10px;    
}

.cadastro h2 {
    margin-bottom: 10px;
}
.cadastro p {
    margin-bottom: 15px;
    color: #555;
}

.form-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #222;
    padding: 8px;
    border-radius: 25px;
}

.form-cadastro input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 150px;
}

.form-cadastro button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: #ffffff;
    color: #222;
    cursor: pointer;
    transition: 0.3s;
}

.form-cadastro button:hover {
    background: #444;
}

.tecnicas, .atletas {
    margin-bottom: 30px;
}

.cards  {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.cards .card {
    
    background: #f5f5f5;
    padding: 10px;
    width: 200px;
    transition: 0.3s;
}

.cards .card:hover {

    background: #e0e0e0;
}

.cards .card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background-color: #222;
    color:white;
    text-align: center;
    padding: 15px;
}